.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  background-color: #fbf7e3;
  padding: 1%;
  box-sizing: border-box;
  border-radius: 40px;
  justify-content: space-between;
}

.img {
  width: 100%;
}

.image {
  width: 50%;
  border-radius: 20px;
}

.text {
  width: 50%;
}
